@import "./variables.scss";
.AboutMe {
  padding-bottom: 15px;
  height: 100%;
  @include tablet {
    padding-top: 40px;
    padding-bottom: 40px;
  
  }
  @include superTablet {
    height: 100%;
  }
  @include desktop {
    padding: 0px;
    height: 100%;
  }

  &__description1 {
    margin-right: 40px;
    margin-left: 131px;
    margin-top: 20px;
    text-align: justify;
    @include desktop {
      margin-top: 42px;
    }
  }

  &__description2 {
    font-size: 12px;
    margin-left: 38px;
    font-style: oblique;
    @include desktop {
      margin-left: 88px;
    }
  }
  &__title1-desktop {
    display: none;

    @include tablet {
      display: flex;
      color: rgba(240, 248, 255, 0.425);
      position: absolute;
      font-size: 95px;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      margin-left: 170px;
      margin-top: 60px;
    }
  }
  &__title2-desktop {
    display: none;
    @include tablet {
      display: flex;
      color: aliceblue;
      position: absolute;
      font-size: 91px;
      margin-top: 228px;
      margin-left: 260px;
    }
  }

  &__thanks-desktop {
   display: none;

    @include tablet {
      display: none;
    }
    @include superTablet {
      // display: flex;
      // width: 256px;
      // position: absolute;
      // margin-left: 241px;
      // margin-top: 110px;
      // text-align: justify;
    }
    @include desktop {
      display: flex;
      width: 256px;
      position: absolute;
      margin-left: 241px;
      margin-top: 110px;
      text-align: justify;
    }
  }

  &__ContainerTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 20px;

    @include tablet {
      align-items: flex-end;
    }
    @include desktop {
      align-items: flex-end;
      padding-top: 25px;
    }
    @include superDesktop {
      padding-top: 59px;
    }

    &--imgMovil {
      width: 280px;

      @include desktop {
        display: none;
      }
      @include tablet {
        display: none;
      }
    }
    &--imgDesktop {
      display: none;

      @include tablet {
        display: flex;
        margin-right: 100px;
        width: 526px;
      }
      @include desktop {
        display: flex;
        margin-right: 100px;
        width: 526px;
      }
      @include superDesktop {
        width: 664px;
      }
    }
    &--description3 {
      margin-right: 111px;
      margin-left: 28px;
      margin-top: 12px;
      font-size: small;
      text-align: justify;
      position: absolute;
      color: rgb(11, 147, 151);
      border-left: 1.5px solid black;
      border-bottom: 1.5px solid black;
      border-top: 1.5px solid black;
      padding-right: 10px;
      padding-top: 131px;
      padding-left: 15px;
      padding-bottom: 15px;
      font-weight: bold;
      >p {
        margin: 0px;
        background: rgba(255, 255, 255, 0.2);
        padding: 4px
      }

      @include tablet {
        display: none;
        // width: 253px;
        // margin-right: 438px;
        // height: 324px;
        // padding-top: 259px;
        // padding-left: 20px;
      }
      @include superTablet {
        // display: flex;
        // width: 253px;
        // margin-right: 438px;
        // height: 324px;
        // padding-top: 246px;
        // padding-left: 20px;
        // color:rgba(240, 248, 255, 0.9);
        // font-weight: normal;
        // >p {
        //   padding: 8px;
        //   background: rgba(0, 0, 0, 0.5);
        // }
      }
      @include desktop {
        display: block;
        width: 253px;
        margin-right: 438px;
        height: 324px;
        padding-top: 246px;
        padding-left: 20px;
        color:rgba(240, 248, 255, 0.9);
        font-weight: normal;
        >p {
          padding: 8px;
          background: rgba(0, 0, 0, 0.5);
        }
      }
      @include superDesktop {
        margin-right: 557px;
        height: 419px;
        padding-top: 339px;
      }
    }
  }
  &__description4 {
    margin-right: 50px;
    margin-left: 12px;
    text-align: justify;
    display: flex;
    flex-direction: row;

    @include desktop {
      width: 362px;
      margin-left: 52px;
    }
  }

  &__ContainerCenter {
    &--year {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      font-weight: bold;
      margin-top: 73px;
      margin-left: 80px;
      display: flex;
      flex-direction: column;
      @include tablet {
        margin-top: 23px;
      }
    }
    &--year2 {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      font-weight: bold;
      margin-top: -83px;
      margin-left: 100px;
      font-size: small;
      margin-right: 20px;
    }
  }

  &__description5 {
    &--text {
      margin-right: 45px;
      margin-left: 49px;
      text-align: justify;

      @include tablet {
        margin-top: 40px;
        margin-bottom: 40px;
      }
      > a {
        text-decoration: none;
        color: $primary-color;
      }
    }
  }

  > a {
    color: black;
    padding-left: 20px;
    padding-right: 5px;
    background-color: $primary-color;

    @include desktop {
      padding-left: 47px;
      background-color: $primary-color;
      padding-right: 6px;
    }
  }
}
.containerSuperdesktop {
  @include superDesktop {
    padding-left: 524px;
  }
}
