@import "./variables.scss";

.Footer {
  @include desktop {
    margin-top: 20px;
    margin-right: 40px;
  }

  &__anchor {
    text-align: right;
    padding: 15px;
    align-items: center;
    border-top: 1px solid black;

    @include desktop {
      width: 100%;
    }

    >a {
      font-style: oblique;
      color: rgba(0, 0, 0, 0.836);
    }
  }

  &__introduction {
    padding-left: 20px;

    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-right: 114px;

      >p {
        margin-top: 0px;
      }
    }
  }
}