@import "./variables.scss";
.Home {
  display: flex;
  height: 83vh;
  min-height: 700px;
  @include tablet {
    height:86vh;
  }
  @include superTablet {
    min-height: auto;
    height: 88vh;
    //height: 87vh;
  }
  @include desktop {
    min-height: auto;
    height: 80vh;
  }
  &__ContainerTop {
    flex-basis: 8%;
    @include desktop {
      flex-basis: 8%;
    }
    &--year {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      font-weight: bold;
      margin-top: 73px;
      margin-left: 86px;
      display: flex;
      flex-direction: column;
    }
    &--year2 {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      font-weight: bold;
      margin-top: -83px;
      margin-left: 109px;
      font-size: x-small;
    }
  }
  &__ContainerCenter {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    @include tablet {
      justify-content: center;
      flex-basis: 70%;
    }
    @include superTablet {
      flex-direction: row;
      flex-basis: 82%;
      justify-content: flex-start;
    }
    @include desktop {
      flex-direction: row;
      flex-basis: 82%;
      justify-content: flex-start;
    }

    &--img {
      @include tablet {
        // display: flex;
        // justify-content: center;
      }
      @include superTablet {
        padding-top: 49px;
        padding-bottom: 29px;
      }
      @include desktop {
         display: flex;
        justify-content: center;
        padding-top: 49px;
        padding-bottom: 29px;
      }
      > img {
        width: 220px;
        margin-top: 165px;
        margin-left: 30px;

        @include tablet {
          margin-top: 48px;
          width: 70%;
        }
        @include superTablet {
          margin-left:70px; 
          width: 70%;}
        @include desktop {
          width: 100%;
        }
      }
    }
    &--introduction {
      position: relative;
      bottom: 48%;
      right: 35%;

      @include tablet {
        position: inherit;
        bottom: 0px;
        right: 0px;
      }
      @include superTablet {
        position: inherit;
        flex-basis: 70%;
        padding-left: 80px;
        padding-bottom: 33px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      @include desktop {
        position: inherit;
        flex-basis: 70%;
        padding-left: 80px;
        padding-bottom: 33px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      > h1 {
        font-size: 70px;
        margin: 0px;
        margin-top: 84px;
        color: rgba(0, 0, 0, 0.836);
      }
      &-p1 {
        font-style: oblique;
        margin: 0px;
      }
      &-p2 {
        display: none;

        @include tablet {
          display: none;
        }
        @include superTablet {
          font-style: oblique;
          margin-top: 85px;
        }
        @include desktop {
          font-style: oblique;
          margin-top: 85px;
        }
      }
      &-p3 {
        display: none;
        @include superTablet {
          display: flex;
        }
        @include desktop {
          display: flex;
        }
        @include superDesktop {
          display: flex;
        }
      }
    }
    &--text {
      position: relative;
      bottom: 27%;

      @include tablet {
        position: inherit;
        bottom: 0px;
      }
      @include superTablet {
       display: none;
      }
      @include desktop {
        display: none;
      }
      @include superDesktop {
        display: none;
      }
    }

    &--marginRightDesktop {
      display: none;

      @include tablet {
        display: flex;
        writing-mode: tb;
        transform: rotate(360deg);
        margin-top: 53px;
      }
      @include superTablet {
        display: flex;
        writing-mode: tb;
        transform: rotate(360deg);
        margin-top: 53px;
      }
      @include desktop {
        display: flex;
        writing-mode: tb;
        transform: rotate(360deg);
        margin-top: 30px;
        justify-content: center;
        padding-right: 20px;
      }
    }
  }
  &__ContainerBottom {
    @include desktop {
      flex-basis: 10%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
