@import "./variables.scss";
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.Navbar {
  @extend %flex;
  background-color: #dbd5c8;
  justify-content: space-between;
  height: 83px;
  padding: 10px 10px 7px 10px;
  border-bottom: 3px solid black;
  align-items: flex-end;
  margin-top: 9px;

  @include desktop {
    height: 71px;
  }
  &__img {
    > a {
      width: 68px;

      > img {
        width: 54px;
      }
    }
  }
  &__links {
    @extend %flex;

    &--right {
      display: flex;
      flex-direction: row;
      width: 282px;
      margin-left: 10px;
      font-size: 14px;
      a:focus,a:active {
        color: rgb(11, 147, 151);
      }
      > a {
        margin: 5px;
        color: black;
        font-weight: bold;

      }
      .active {
        color: rgb(11, 147, 151);
      }
    }
  }
}
