@import "./variables.scss";

.Projects {
  display: flex;
    justify-content: center;
  
  > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    @include tablet {
      padding: 20px 40px;
    }

  }
}
