@import "./variables.scss";
.ProjectItem {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.418);

  @include desktop {
    width: 1074px;
    margin-left: 40px;
    padding-left: 20px;
    margin-top: 38px;
  }
  @include superDesktop {
    width: 100%;
  }
  &__title1 {
    color: rgba(0, 0, 0, 0.795);
    position: absolute;
    font-size: 56px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-left: -10px;
    margin-top: 19px;
    z-index: 1;
  }
  &__ContainerTop1 {
    margin-top: 17px;

    &--year {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      font-weight: bold;
      margin-top: 10px;
      margin-left: 45px;
      display: flex;
      flex-direction: column;
      color: black;
      @include tablet {
        font-size: 16px;
      }
    }
    &--year2 {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      font-weight: bold;
      margin-top: -83px;
      margin-left: 66px;
      font-size: x-small;
    }
  }
  &__title2 {
    color: rgba(11, 146, 151, 0.397);
    position: absolute;
    font-size: 56px;
    margin-top: -37px;
    margin-left: 154px;
    z-index: 1;
  }
  &__ContainerTop2 {
    margin-left: 157px;
    position: absolute;
    margin-top: 32px;
    @include tablet {
      >a {
        font-size: 20px;
      }
    }

    &--year3 {
      font-weight: bold;
      display: flex;
      flex-direction: column;
      color: black;
      @include tablet {
        font-size: small;
      }
    }
    &--year4 {
      margin: 0px;
      font-weight: bold;
      font-size: x-small;

      @include tablet {
        font-size: small;
      }
    }
  }

 
  &__text {
    display: flex;
    flex-direction: column;

    &--skills {
      padding: 15px;
      padding-left: 77px;
      padding-right: 40px;
      font-size: small;
      @include desktop {
        margin-left: 175px;
        font-size: medium;
      }
    }
    &--description {
      margin-left: 99px;
      border-left: 1px solid black;
      padding: 20px;
    }
  }
  &__video {
    
      display: flex;
      justify-content: center;
   
    > video {
      width: 323px;
      padding-bottom: 20px;
    
      @include tablet {
        width: 60%;
        padding-bottom: 55px;
      }
      @include desktop {
        width: 80%; 
        padding-bottom: 55px;
      }
      @include superDesktop {
        width: 80%;
        padding-bottom: 55px;
      }
    }
  }
}
