@import "./variables.scss";
.Resources {
  padding-left: 0px;

  @include tablet {
    padding: 40px;
  }
  &__title {
    color: rgba(11, 146, 151, 0.356);
    position: absolute;
    font-size: 106px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-left: 0px;

    @include desktop {
      margin-left: 120px;
    }
  }
  &__containerTop {
    &--year {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      font-weight: bold;
      margin-top: 73px;
      margin-left: 86px;
      display: flex;
      flex-direction: column;

      @include desktop {
        margin-left: 203px;
      }
    }
    &--year2 {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      font-weight: bold;
      margin-top: -83px;
      margin-left: 109px;
      font-size: x-small;

      @include desktop {
        margin-left: 224px;
      }
    }
  }
  &__title2 {
    color: rgba(11, 146, 151, 0.356);
    position: absolute;
    font-size: 99px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);

    @include desktop {
      margin-left: 179px;
    }
  }
  &__introduction {
    position: relatve;
    margin-left: 148px;
    margin-right: 40px;
    text-align: justify;
    padding-bottom: 20px;

    @include desktop {
      margin-left: 317px;
      margin-right: 93px;
    }
  }
  > ul {
    padding-left: 0px;
    margin-top: 155px;
  }
  &__generalList {
    margin: 20px;
    padding-left: 0px;
    margin-right: 20px;
    text-align: justify;
    padding-left: 42px;
    padding-right: 42px;
    padding-bottom: 42px;

    @include desktop {
      margin-left: 150px;
      margin-right: 150px;
      border: 7px solid rgba(255, 255, 255, 0.418);
      box-shadow: 5px 7px 10px rgba(177, 176, 176, 0.418);
    }

    > ul {
      padding-left: 0px;

      > li {
        box-sizing: border-box;
        list-style-type: hiragana;
        border-bottom: 1px solid black;

        ::marker {
          font-weight: bold;
        }
      }
    }
  }
}
