// SCSS Variables
$layout_bp_mobile: 360px;
$layout_bp_tablet: 416px;
$layout_bp_superTablet: 1000px;
$layout_bp_desktop: 1333px;
$layout_bp_superDesktop: 1850px;

// SCSS Mixins
@mixin tablet {
  @media only screen and (min-width: $layout_bp_tablet) {
    @content;
  }
}
@mixin superTablet {
  @media only screen and (min-width: $layout_bp_superTablet) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (min-width: $layout_bp_desktop) {
    @content;
  }
}
@mixin superDesktop {
  @media only screen and (min-width: $layout_bp_superDesktop) {
    @content;
  }
}

$primary-color: rgb(11, 147, 151);
%flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

%column {
  display: flex;
  flex-direction: column;
}
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}
